# Entornos virtuales (Python)
venv/
env/
.venv/

# Variables de entorno y secretos (¡CRÍTICO!)
.env
*.pem
/backend/2-refactor/settings.cfg

# Archivos compilados y caché de Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Reportes de pruebas
htmlcov/
coverage.xml
.coverage

# Node.js / TypeScript (Reto 3)
node_modules/
dist/
build/
.npm/

# Bases de datos SQLite (si haces pruebas locales)
db.sqlite3

# Archivos del Sistema Operativo y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/