.git
.gitignore
.env
.env.*
**/.env
**/.env.*
__pycache__/
**/__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
**/.pytest_cache/
.ruff_cache/
**/.ruff_cache/
.mypy_cache/
**/.mypy_cache/
.coverage
coverage.xml
htmlcov/
staticfiles/
.ci-venv/
test/
tests/
.venv/
venv/
env/
